body {
	background-image: url("header.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
 	-o-background-size: cover;
}

.main-text {
	color: white;
	text-align: center;
	font-size: 180%;
	margin-top: 28%;
}
.button-container {
	display: flex;
}

.btn-primary {
	display: flex;
	background-color: orange;
	border-color: orange;
	justify-content: center;
	align-items: center;
	margin-left: 44%;
	margin-top: 15%

}
